@media only screen and (max-width: 1050px) {
  .container .main .Sk-img {
    padding: 5px 0px;
  }

  .container .main .Sk-img .container1 img {
    width: 100px;
  }
}

@media only screen and (max-width: 910px) {
  .nav {
    flex-direction: column;
  }
  .logo {
    width: 100%;
    background-color: black;
    padding: 4px 0px;
  }

  .nav ul {
    flex-direction: column;
    z-index: 1;
    background-color: white;
    width: 60%;
    display: block;
    text-align: center;
  }
  .nav ul li {
    width: 80%;
    display: block;
    margin: 0rem auto;
  }
  .nav ul li {
    width: 80%;
  }

  .nav .Git {
    background-color: white;
    z-index: 1;
    width: 100%;
    display: block;
    margin: auto;
  }
  .burger {
    display: block;
  }

  .V-opacity {
    /* opacity: 0; */
    transform: translate(-1000px, 0px);
    transition: all 0.1s ease-in-out;
  }

  .N-height {
    height: 50px;
  }

  /* ______________Homepage ----- */

  .background .caption {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 2px 10px;
    margin: 10px 0px;
  }
  .background .caption h1 {
    font-size: 1rem;
  }

  .background .caption p {
    font-size: 0.8rem;
  }
  .background .caption {
    width: 80%;
  }

  .caption .Avatar-Namaste,
  .Avatar-Hi {
    width: 50%;
  }
  .background .caption {
    width: 90%;
  }
  .background .caption h1 {
    font-size: 1.4rem;
  }
  .background .caption p {
    font-size: 1rem;
  }

  /* _____________About Me______________ */
  .main .contain {
    flex-direction: column;
  }
  .contain .caption {
    width: 80%;
  }

  /* _________Skills_____________________ */
  .container .main .Sk-img {
    flex-direction: column;
  }

  .container .main {
    margin: 0px 0px;
  }

  /* ----------Project -------------- */
  .web-app-project-links,
  .web-template-project-links,
  .react-app-project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* ---------- */
@media screen and (max-width: 620px) {
  .background {
    height: 160vh;
    padding-top: 2rem;
  }
}
/* --Home--- */

@media screen and (max-width: 460px) {
  .background {
    height: 80vh;
  }
  .background .caption p {
    display: none;
  }

  .background .caption .download {
    font-size: 0.8rem;
  }
  .scroll-wrapper .scroll-links .scroll-btns {
    border: none;
    margin: 1rem 0.5rem;
    /* box-shadow: 8px 8px 14px rgb(80, 79, 79); */
    background: cornflowerblue;
  }
  .scroll-wrapper .scroll-links .scroll-btns a {
    text-decoration: none;
    font-size: 1rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
    padding: 0.5rem;
    cursor: pointer;
  }
}
